@model WebTroChuyen.Models.BaiVietBaoCao

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaiVietBaoCao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LyDoBaoCao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyDoBaoCao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBaoCao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBaoCao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaiViet.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiViet.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.TenNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.TenNguoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
