<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/font-awesome-6.4.2-pro/css/all.css">
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body style="background-color: #ebebeb;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container" style="max-width:1000px">
            <a href="@Url.Action("Index", "DangBai")"><img width="150" height="35" src="~/Icon/BeeChat.svg"></a>
            <i class="fa-regular fa-comment" style="color: #6a6964;"></i>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    @if (Session["UserName"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Images/UserAvatar/@Session["Avatar"]" width="30" height="30" alt="User Avatar" class="rounded-circle">
                                @Session["TenNguoiDung"]
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Trang cá nhân</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Logout", "Users")">Thoát</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("DangKy", "Users")"><span><i class="fa-regular fa-user"></i></span> Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("DangNhap", "Users")"><span><i class="fa-regular fa-right-to-bracket"></i></span> Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand py-0">
        <div class="container" style="max-width:1000px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="@Url.Action("Index", "DangBai")"><i class="fa-regular fa-house"></i></a>
                    <a class="nav-link" href="#">ĐĂNG BÀI</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link" href="@Url.Action("Index", "TroChuyen")">CHAT</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>